<%- include('partials/header') %>
<main>
<section class="game-detail">
  <img src="<%= game.image %>" alt="<%= game.title %>">
  <div>
    <h1><%= game.title %> (<%= game.year %>)</h1>
    <p><%= game.description %></p>
    <a href="/">â† Til baka</a>
  </div>
</section>
</main>
<%- include('partials/footer') %>